docs/wetterstation-dokumentation.aux
docs/wetterstation-dokumentation.fdb_latexmk
docs/wetterstation-dokumentation.fls
docs/wetterstation-dokumentation.idx
docs/wetterstation-dokumentation.ilg
docs/wetterstation-dokumentation.ind
docs/wetterstation-dokumentation.log
docs/wetterstation-dokumentation.synctex.gz
docs/wetterstation-dokumentation.toc
